@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");


body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(249, 244, 244);
  padding: 1rem 10rem; 
  
}

a {
  text-decoration: none;
  color: var(--GrayishViolet);
}

a:hover {
  color: var(--VeryDarkBlue);
}


p {
  line-height: 1.6;
  color: var(--GrayishViolet);
  margin: 0.5rem 0;
}

img {
  max-width: 100%;
  object-fit: cover;

}

ul,
li {
  list-style-type: none;
  padding: 0;
}

section {
  padding: 2rem 1rem;
}
